/* larish_neue */

@font-face {
  font-family: 'butler';
  src: url('../static/font/butter/Butler_Medium_Stencil.otf');
  font-weight: $medium;
}

@font-face {
  font-family: 'butler';
  src: url('../static/font/butter/Butler_Bold_Stencil.otf');
  font-weight: $bold;
}

/* larsseit */

@font-face {
  font-family: 'larsseit';
  src: url('../static/font/Larsseit/Larsseit-ExtraBold.otf');
  font-weight: $extra;
}

@font-face {
  font-family: 'larsseit';
  src: url('../static/font/Larsseit/Larsseit-Bold.otf');
  font-weight: $bold;
}

@font-face {
  font-family: 'larsseit';
  src: url('../static/font/Larsseit/Larsseit-Medium.otf');
  font-weight: $medium;
}

@font-face {
  font-family: 'larsseit';
  src: url('../static/font/Larsseit/Larsseit-Light.otf');
  font-weight: $regular;
}

@font-face {
  font-family: 'larsseit';
  src: url('../static/font/Larsseit/Larsseit-Light.otf');
  font-weight: $light;
}

@font-face {
  font-family: 'larsseit';
  src: url('../static/font/Larsseit/Larsseit-Thin.otf');
  font-weight: $thin;
}