/**
* silent 2017
* [- oneOne style -]
*/

@import '../../../assets/sass/app';

.game {
  opacity: 0;
  transition: all ease 3s;
}
.oneOne {
  // background: #111318;
  height: 100vh;
  @include flex();
}

.game__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

canvas {
  position: fixed;
}

.clear {
  color: white;
  position: fixed;
  top: 100px;
  right: 50px;
  cursor: pointer;
}

.globalLvl__bottom {
  z-index: 1000
}
