/**
* silent 2017
* [- circlestyle -]
*/

@import '../../../assets/sass/app';

.preHomeDrag {
  position: fixed;
  bottom: 100px;
  left: 0;
  width: 100%;
  @include flex($direction: column);
}

.preHomeDrag__dragLine {
  @include flex();
  position: relative;
}

.preHomeDrag__dragLine__line {
  width: 200px;
  height: 1px;
  background: #404246;
}

.preHomeDrag__dragLine__pointContainer {
  position: absolute;
  top: -29px;
  left: -29px;
  width: 60px;
  height: 60px;
  z-index: 10;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.preHomeDrag__dragLine__point {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #404246;
}

.preHomeDrag__dragLine__point--drag {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 100px 30px rgba(13,141,144,0.5);
  transform: translate(-5px, -5px)
}

.preHomeDrag__headPhone {
  @include flex($direction: column);
}

.preHomeDrag__headPhone__contain {
  width: 50px;
  height: 50px;
  border: 1px solid $white;
  border-radius: 100%;
  @include flex();
  opacity: 0.7;
  margin-top: 100px;
}

.preHomeDrag__headPhone__svg {
  width: 19px;
}

.preHomeDrag__headPhone__text {
  margin-top: 19px;
  font-size: em(14);
  opacity: 0.5;
  width: 215px;
  text-align: center;
  font-weight: $medium;
  line-height: 17px;
}